.v-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  border: 0.5px solid;
  border-image-source: linear-gradient(180deg, #FFCBFA 0%, #F11CC7 100%);
  background: linear-gradient(99.58deg, #FC00B1 4.48%, #F585ED 34.71%, #F585ED 55.13%, #6102FF 100%);
  box-shadow: inset 0px 3px 2px rgba(255, 152, 232, 0.65), inset 0px -3px 1px rgba(255, 255, 255, 0.25);
  border-radius: 4px;
  font-family: 'PingFang SC';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF;

}