.myPrize {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(#1d043d,#01185e);
  font-size: 14px;
  .list {
    box-sizing: border-box;
    padding: 0 10px 20px 10px;
    height: calc( 100% );
    overflow-y: scroll;
    .item {
      box-sizing: border-box;
      height: 190px;
      padding: 0 40px;
      margin-top: 20px;
      background: url('../../../static/myprize.png') no-repeat;
      background-size: 355px;
      text-align: left;
      border-radius: 8px;
      &:active {
        box-shadow: 2px 5px 7px 4px rgba(0,0,0,0.1) inset;
      }
      .item-row1 {
        font-weight: 600;
        font-size: 14px;
        line-height: 12px;
        color: #333333;
        padding-top: 17px;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
        span {
          font-weight: 400;
          font-size: 12px;
          line-height: 12px;
          color: #333333;
        }
      }
      .item-row2 {
        padding-top: 5px;
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        color: #333333;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
      }
      .item-row3 {
        text-align: center;
        padding-top: 13px;
        img {
          width: 100px;
          height: 100px;
        }
      }
      
    }
    .type1 {

    }
    .type2 {
      .item-row3 {
        padding: 1px 0 0 0;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
        img {
          width: 100px;
          height: 100px;
        }
      }
      .item-row4 {
        position: relative;
        top: -6px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
        .item-row4-l {
          padding: 0 7px;
          height: 29px;
          background: rgba(255,255,255,0.7);
          border-radius: 2px;
          text-align: center;
          line-height: 29px;
          font-weight: 500;
          font-size: 12px;
          color: #666666;
          overflow: hidden; // 溢出隐藏
          white-space: nowrap; // 强制一行
          text-overflow: ellipsis; // 文字溢出显示省略
        }
        .item-row4-r {
          margin-left: 12px;
          font-size: 12px;
          color: #FD12B8;
          overflow: hidden; // 溢出隐藏
          white-space: nowrap; // 强制一行
          text-overflow: ellipsis; // 文字溢出显示省略
        }
      }
    }
    .type4 {
      .type4-row4 {
        display: flex;
        justify-content: center;
        padding-top: 44px;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
        span {
          width: 88px;
          height: 36px;
          background: linear-gradient(99.58deg, #FC00B1 4.48%, #F585ED 34.71%, #F585ED 55.13%, #6102FF 100%);
          box-shadow: inset 0px 3px 2px rgba(255, 152, 232, 0.65), inset 0px -3px 1px rgba(255, 255, 255, 0.25);
          border-radius: 4px;
          text-align: center;
          line-height: 36px;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          color: #FFFFFF;

        }
      }
    }
    .type5 {
      .type5-row3 {
        display: flex;
        justify-content: center;
        padding-top: 38px;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
        span {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 141px;
          height: 36px;
          background: linear-gradient(99.58deg, #FC00B1 4.48%, #F585ED 34.71%, #F585ED 55.13%, #6102FF 100%);
          box-shadow: inset 0px 3px 2px rgba(255, 152, 232, 0.65), inset 0px -3px 1px rgba(255, 255, 255, 0.25);
          border-radius: 4px;
          font-weight: 600;
          font-size: 14px;
          text-align: center;
          color: #FFFFFF;
          i {
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            width: 26px;
            height: 26px;
            margin-right: 7px;
            border: 1px solid #EEEEEE;
            border-radius: 13px;
            img {
              width: 12px;
            }
          }
        }
      }
      .type5-row4 {
        text-align: center;
        padding-top: 31px;
        font-size: 12px;
        line-height: 17px;
        color: #555555;
        overflow: hidden; // 溢出隐藏
        white-space: nowrap; // 强制一行
        text-overflow: ellipsis; // 文字溢出显示省略
      }
    }
    .footer {
      height: 234px;
      text-align: center;
      .footer-tip {
        padding-top: 20px;
        font-size: 14px;
        text-align: center;
        color: #FFFFFF;
        opacity: 0.8;
      }

      .qrcode {
        margin: auto;
        width: 128px;
        height: 128px;
        margin-top: 4px;
        margin-bottom: 13px;
      }
      .save-button {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 141px;
        height: 36px;
        background: linear-gradient(99.58deg, #FC00B1 4.48%, #F585ED 34.71%, #F585ED 55.13%, #6102FF 100%),
        linear-gradient(180deg, #FFCBFA 0%, #F11CC7 100%);
        border: 0.5px solid;
        border-image-source: linear-gradient(180deg, #FFCBFA 0%, #F11CC7 100%);
        box-shadow: inset 0px 3px 2px rgba(255, 152, 232, 0.65), inset 0px -3px 1px rgba(255, 255, 255, 0.25);
        border-radius: 4px;
        font-family: 'PingFang SC';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
      }
      
    }
  }
}
// 样式穿透
.myPrize .adm-pull-to-refresh {
  height: 100%;
  overflow-y: scroll;
}
.myPrize .empty-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  .empty-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 60px;
      height: 60px;
    }
    span {
      padding-top: 22px;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;

      text-align: center;

      color: #CDCDCD;
    }
  }
}