.poster {
  font-size: 14px;
  box-sizing: border-box;
  height: 100vh;
  background-image: linear-gradient(#1d043d,#01185e);
  text-align: center;
  overflow-y: scroll;
  .share-tips {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    padding: 12px 0;
    /* identical to box height */

    text-align: center;
    text-transform: capitalize;

    color: #CCCCCC;

  }
  .poster-box {
    margin: 0 20px;
    height: 517px;
    .full {
      width: 100%;
      height: 100%;
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }
  .bottom-box {
    width: 275px;
    margin: 20px auto 0 auto;
    .save-the {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 36px;
      // background: linear-gradient(99.58deg, #FC00B1 4.48%, #F585ED 34.71%, #F585ED 55.13%, #6102FF 100%);
      // box-shadow: inset 0px 3px 2px rgba(255, 152, 232, 0.65), inset 0px -3px 1px rgba(255, 255, 255, 0.25);
      // border: 0.5px solid;
      // border-image-source: linear-gradient(180deg, #FFCBFA 0%, #F11CC7 100%);
      // border-radius: 4px;
      // font-weight: 600;
      // font-size: 14px;
      // color: #FFFFFF;
      // text-decoration: none;
    }
    // .bottom-box-share {
    //   width: 100%;     
    //   text-align: center;
    //   .line {
    //     display: flex;
    //     justify-content: space-between;
    //     width: 100%;
    //     .line-1 {
    //       width: 64px;
    //       border-top: 0.5px solid 
    //   rgba(231, 219, 246, 1);
    //     }
    //   }
    //   .share-title {
    //     position: relative;
    //     top: -11px;
    //     margin: auto;
    //     width: 126px;
    //     height: 20px;
    //     font-size: 14px;
    //     line-height: 20px;
    //     text-align: center;
    //     color: #E6E6E6;
    //   }
    //   .share-btns {
    //     width: 100%;
    //     display: flex;
    //     justify-content: space-between;
    //     .share-btns-wx {
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       width: 104px;
    //       img {
    //         width: 50.4px;
    //         height: 50.4px;
    //       }
    //       span {
    //         font-size: 12px;
    //         line-height: 17px;
    //         text-align: center;
    //         color: #E6E6E6;
    //       }
    //     }
    //     .share-btns-friends {
    //       display: flex;
    //       flex-direction: column;
    //       justify-content: center;
    //       align-items: center;
    //       width: 104px;
    //       padding-bottom: 25px;
    //       img {
    //         width: 50.4px;
    //         height: 50.4px;
    //       }
    //       span {
    //         padding-top: 4px;
    //         font-size: 12px;
    //         line-height: 17px;
    //         text-align: center;
    //         color: #E6E6E6;
    //       }
    //     }
    //   }
    // }
    .bottom-box-share {
      padding-top: 18px;
      padding-bottom: 55px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #E6E6E6;
      font-size: 14px;
      img {
        margin-left:12.5px;
        width: 36px;
        height: 36px;
      }
    }

  }

}