@keyframes rotateLoading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MyCourse {
  font-size: 14px;
  box-sizing: border-box;
  height: 100vh;
  // background-image: linear-gradient(#1d043d,#01185e);
  background-color: #000000;
  .list {
    // position: relative;
    box-sizing: border-box;
    padding: 10px 10px 0 10px;
    height: calc( 100% );
    overflow-y: scroll;
    .scroll-box {
      // position: relative;
      overflow-y: scroll;
      padding-top: 20px;
    }
    .item {
      box-sizing: border-box;
      width: 100%;
      height: 255px;
      padding: 0 9px;
      margin: auto;
      margin-bottom: 20px;
      background: url('../../../static/mycourse1.png') no-repeat center;
      background-size: 360px 255px;
      background-position: 0 -8px;
      text-align: left;
      .item-title {
        padding-top: 12px;
        font-weight: 600;
        font-size: 16px;
        color: #000000;
      }
      .item-video {
        padding-top: 12px;
        display: flex;
        justify-content: center;
        video {
          width: 336px;
          height: 189px;
          border-radius: 8px;
          background: #262626;
        }
        // 音量按钮
        video::-webkit-media-controls-volume-control-container {
          display: none !important;
        }
        // 更多选项
        video::-internal-media-controls-overflow-button {
          display: none !important;
        }
      }
    }
    // 滚动盒子底部提示字
    .scroll-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 9;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 20px;
      font-size: 12px;
      color: rgba(255,255,255,0.5);
      background-color: transparent;
      .rotate {
        animation: rotateLoading 0.7s linear infinite;
      }
    }
    .footer {
      display: flex;
      justify-content: center;
      .footer-content {
        width: 355px;
        height: 56px;
        background: rgba(255,255,255,0.1);
        color: rgba(157, 169, 205, 1);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
        border-radius: 8px;
        div:nth-child(1) {
          padding-top: 10px;
          padding-bottom: 2px;
        }
      }
    }
    
  }
}
// 样式穿透
.MyCourse .adm-pull-to-refresh {
  height: 100%;
  overflow-y: scroll;
}
.MyCourse .empty-content {
  position: relative;
  width: 100vw;
  height: 100vh;
  .empty-center {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 60px;
      height: 60px;
    }
    span {
      padding-top: 22px;
      font-family: 'PingFang SC';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;

      text-align: center;

      color: #CDCDCD;
    }
  }
}